.statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 135px;
    padding: 1em 1em 0;
    gap: 1em;
    background-color: var(--background);
}

.statistics .box {
    color: var(--text);
    font-weight: 600;
    background-color: var(--white);
    padding: 1em 1.2em;
    border-radius: 16px;
    font-size: 1.2em;
}

.box:nth-child(2) .stat {
    color: var(--red);
}

.box:nth-child(3) .stat {
    color: var(--green);
}

.box:last-child .stat {
    color: var(--yellow);
}

.box .stat {
    color: var(--primary);
    font-size: 2.4em;
    line-height: 1em;
}

section form label {
    font-size: 1.1em;
}

section form :where(input, textarea, select) {
    font-size: 1em;
}

.container .tasks {
    padding: 0;
}

.container .tasks .task {
    color: var(--text-sec);
    padding: 4px 12px;
    border-bottom: 2px solid var(--background);
    font-size: .8em;
}

.container .tasks .task:hover {
    color: var(--text);
    background-color: var(--hover);
    border-radius: 6px;
    border-color: var(--hover);
    cursor: pointer;
}

.task .title {
    color: var(--text);
    font-size: 1.4em;
    white-space: nowrap;
    margin-bottom: -0.4em;
}

.user img {
    width: 45px;
    border-radius: 50%;
}