.account {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--background);
    z-index: 999;
}

.account section {
    background-color: var(--white);
    border-radius: 8px;
    padding: 4em 1em;
    width: min(420px, 100%);
}

section h1 {
    color: var(--text);
    font-weight: 700;
    font-size: 2.2em;
    line-height: 1em;
}

section p {
    color: var(--text-sec);
}

section form {
    width: min(280px, 100%);
}

:is(.forgot, .change) button {
    background-color: inherit;
    color: var(--primary);
    margin: 0 .4em;
}

:is(.forgot, .change) button:hover {
    text-decoration: underline;
}

form .submit {
    margin: .8em 0 -.2em;
}

form .avatars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}

form .avatars img {
    max-width: 100%;
    border: 2px solid var(--grey);
    border-radius: 50%;
    cursor: pointer;
}

form .avatars .select {
    border-color: var(--primary);
}