.statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 2em 2em 0;
    gap: 1em;
    background-color: var(--background);
}

.statistics .box {
    color: var(--white);
    font-weight: 600;
    background-color: var(--primary);
    padding: 1em 1.2em;
    border-radius: 16px;
    min-height: 120px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.box:nth-child(2) {
    background-color: var(--red);
}

.box:nth-child(3) {
    background-color: var(--green);
}

.box:last-child {
    background-color: var(--yellow);
}

.box .stat {
    color: var(--background);
    font-size: 2em;
}

section form label {
    font-size: 1.1em;
}

section form :where(input, textarea, select) {
    font-size: 1em;
}

.container .tasks {
    padding: 0;
}

.container .tasks .task {
    color: var(--text-sec);
    padding: 4px 12px;
    border-bottom: 2px solid var(--background);
    font-size: .8em;
}

.container .tasks .task:hover {
    color: var(--text);
    background-color: var(--hover);
    border-radius: 6px;
    border-color: var(--hover);
}

.task .title {
    color: var(--text);
    font-size: 1.4em;
    white-space: nowrap;
    margin-bottom: -0.4em;
}

.user img {
    width: 45px;
    border-radius: 50%;
}

@media screen and (max-width:1280px) {
    .container {
        grid-template-columns: 1fr;
    }
}