.filters button {
    color: var(--text-sec);
}

.filters button:where(.active, :hover) {
    color: var(--text);
}

.tasks section .task {
    background-color: var(--white);
    border-radius: 18px;
    padding: 1em 1.6em;
    width: min(320px, 100%);
    cursor: pointer;
}

.tasks .task .title {
    font-size: 1.6em;
    text-transform: capitalize;
}

.tasks .task .detail {
    font-size: 1.1em;
    height: 120px;
    overflow: hidden;
}

.tasks .task .comments {
    background-color: var(--white);
}

.tasks .task .assign img {
    width: 40px;
}