.filters button {
    color: var(--text-sec);
}

.filters button:where(.pri, :hover) {
    color: var(--text);
}

.tasks section .task {
    background-color: var(--white);
    border-radius: 18px;
    padding: 1em;
    width: min(270px, 100%);
}

.tasks .task .title {
    font-size: 1.4em;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tasks .task .detail {
    font-size: 1.1em;
    height: 80px;
    overflow: hidden;
}

.tasks .task .comments {
    background-color: var(--hover);
}

.tasks .task .assign img {
    width: 40px;
}

.comments .text {
    font-size: 1.4em;
    color: var(--text);
}