.filters input {
    max-width: 540px;
    font-size: 1.1em;
    padding: 6px 18px;
    border-radius: 30px;
}

.users .user {
    background-color: var(--white);
    padding: 1em 1.6em;
    border-radius: 8px;
    width: min(160px, 100%);
}

.user .name {
    color: var(--text);
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1em;
}

.user img {
    width: 70px;
}